{% extends "base.html" %}
{% block titulo %} Agregar nuevo proceso {% endblock %}

{% load static %}

{% block contenido %} 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/oculatr_radio.css' %}" />
  
</head>
<body>
  
  <div class="card borcrear">
    <div class="card-header bg-info borcrear">
      
      <div class="container text-center">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <i>Agregar un proceso</i> <br>
            <a type="button" class="btn btn-primary btn-sm" href="{% url 'procesos' %}">Regresar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h4 class="card-title" id="datos_titulo">Datos del proceso</h4>
        {% include 'procesos/form.html' %}
    </div>
  </div>

</body>
</html>

{% endblock %}
    